<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aula 01 - Vue.js</title> 
</head>
<body>
    <div id="app">
       <h1> {{titulo}} </h1>

       <ul>
           <li v-for="animal of animais ">{{animal}}  </li>
       </ul>
       <ul>
           <li v-for="fruta of frutas">{{fruta.nome}} - {{fruta.quantidade}}
               <span v-if="fruta.quantidade === 0  "> - Sem estoque </span>
           </li>
       </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts.js"></script>
   
</body>
</html>